<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <div class="card">
        <h1>this is our product</h1>
        <img scr="https://marketimg.marmelada.co.il/photos/thumbnails_750_500_https_3A_2F_2Fmarket.marmelada.co.il_2Fphotos_2F570x0_2F2077182.JPG" alt="STUFF"style="width:100%>
        <h1>stuff</h1>
        <p class="price">$19.99</p>
        <p>Some text about the stuff..</p>
        <p><button>Add to Cart</button></p>
    </div>
    <a href="home.html"> go back tohome page</a>
    <a href="cart.html">go to cart</a>





</body>
</html>